{% extends "CajachicaBundle::layout_cpanel.html.twig" %}

{% block pageid %}cpanel cpanelmenu{% endblock %}
{% block body %}
	<style type="text/css" media="screen">
		.thumbnail.tile img{height: 80%; } 
		.thumbnail.tile img + h4{margin: 0; }
	</style>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="page-header">
			  	<h2>Menu Inicial</h2>
			</div>
			<div class="row">
			  	<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-teal tile-double">
						<a href="{{ url('cpanel_anticipos') }}" >
						<img src="{{ asset('bundles/cajachica/images/nueva_solicitud.png') }}">
						<h4>Solicitud de Anticipos</h4>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-double">
						<a href="{{ url('cpanel_fondofijo') }}">
							<img src="{{ asset('bundles/cajachica/images/nueva_caja_chica.png') }}">
							<h4> Creaci贸n de Fondo Fijo </h4>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-double tile-orange">
						<a href="{{ url('cpanel_emisionrelacion') }}" >
							<img src="{{ asset('bundles/cajachica/images/relacion_gasto.png') }}">
							<h4> Emisi贸n de Relaci贸n</h4>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-double tile-orange">
						<a href="{{ url('cpanel_aprobaciones') }}" >
							<img src="{{ asset('bundles/cajachica/images/reportes.png') }}">
							<h4> Aprobaciones</h4>
						</a>
					</div>
				</div>


				<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-double tile-orange">
						<a href="{{ url('cpanel_reportes') }}" >
							<img src="{{ asset('bundles/cajachica/images/aprobacion_gastos.png') }}">
							<h4> Reportes</h4>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-double tile-orange">
						<a href="{{ url('cpanel_reportes') }}" >
							<img src="{{ asset('bundles/cajachica/images/aprobacion_gastos.png') }}">
							<h4> Reportes</h4>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="thumbnail tile tile-double tile-orange">
						<a href="{{ url('cpanel_ajustes') }}" >
							<img src="{{ asset('bundles/cajachica/images/configurar3.png') }}">
							<h4> Configuraci贸n</h4>
						</a>
					</div>
				</div>
		  	</div>
		</div>
	</div>

	<div id="dialog" style="display:none;">
		<p> </p>
	</div>
{% endblock %}
