<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SGGVFT{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/cajachica/css/bootstrap.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/cajachica/css/base.css') }}"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/cajachica/images/favicon.png') }}" />
        {% block stylesheets %}{% endblock %}
        {% block head_javascripts %}{% endblock %}

    </head>
    <body class="{% block pageid '' %}">

        {% block header %} {% endblock %}

        <div class="container" role="main">

            {% block body %}{% endblock %}

        </div>

        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/cajachica/js/jquery-1.9.1.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/cajachica/js/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/cajachica/js/jquery.blockUI.js')}}"></script>
            <script type="texst/javascript" src="{{ asset('bundles/cajachica/js/bootstrap.js')}}"></script>
        {% endblock %}
    </body>
</html>
